<div class="tag">
    <ul>
        <li class="cur" attr="@Url.MerchantSiteUrl().ApplyFor" tag="1"><a href="#">申请提现</a></li>
        <li  attr="@Url.MerchantSiteUrl().WaterSubsidiary" tag="2"><a href="#">流水明细</a></li>
        <li attr="@Url.MerchantSiteUrl().ManageBank" tag="3"><a href="#">管理银行账户</a></li>
        <li attr="@Url.MerchantSiteUrl().AddBankAccount" tag="4"><a href="#">添加银行账户</a></li>
        <li attr="@Url.MerchantSiteUrl().Recharge" tag="5"><a href="#">充值</a></li>
    </ul>
</div>

