@{
    ViewBag.Title = "商户入驻";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--banner部分开始-->
<div id="middle">
    <div class="mid_l fl">
        <div class="ban">
            <p>
                <img src="@PubConstant.StaticUrl@Url.Content("web/merchant/images/banner.gif")" width="868" height="289" /></p>
            <p>
                <img src="@PubConstant.StaticUrl@Url.Content("web/merchant/images/banner2.jpg")" width="868" height="289" /></p>
            <p>
                <img src="@PubConstant.StaticUrl@Url.Content("web/merchant/images/banner.gif")" width="868" height="289" /></p>
            <p>
                <img src="@PubConstant.StaticUrl@Url.Content("web/merchant/images/banner.gif")" width="868" height="289" /></p>
        </div>
        <div class="mid1">
            <a href="" class="font14 fl">快有租商城优势</a> <a class="current font14 fl" href="">线上入驻流程</a>
            <a href="" class="font14 fl">线下入驻流程</a> <a href="" class="font14 fl">入驻指南</a>
        </div>
    </div>
    <div class="mid_r">
        <div class="mid_r1">
            <p class="yahei font24">
                平台入驻</p>
            <div class="mid_r12">
                <span class="fl">
                    <img src="@PubConstant.StaticUrl@Url.Content("web/merchant/images/mid_r1.gif")" width="11" height="84" /></span>
                <ul class="fl">
                    <li class="col333">快有租商城坚守以租代售第一营销品牌</li>
                    <li class="col333">全力打造让客户零风险的购物体验</li>
                    <li class="col333">快有家旗下所有平台致力于为用户服务的理念</li>
                    <li class="col333">可为商户提供跨平台合作支持</li>
                </ul>
            </div>
        </div>
        <div class="mid_r2">
            <p class="font16 yahei col666 mb8">
                联系我们</p>
            <ul>
                <li class="col666">入驻咨询：400-999-3535</li>
                <li class="col666">周一至周五 09:00-18:00</li>
                <li class="col666">邮箱：service@kuaiyoujia.com</li>
            </ul>
            <span class="show mt8"><a href="@Url.MerchantSiteUrl().SignAgreement" class="font24 yahei">
                立即入驻</a></span>
        </div>
    </div>
</div>
<!--中间部分开始-->
<div id="cont">
    <div class="cont_t">
        <h3 class="yahei font24 normal">
            线上入驻流程</h3>
        <ul>
            <li class="fl">
                <p class="blod songti font14 col333">
                    签署在线入驻协议</p>
            </li>
            <li class="fl">
                <p class="p2 blod songti font14 col333">
                    商家信息提交</p>
                <div class="cont_t1 col333">
                    <span>1. 提交公司经营信息</span> <span>2. 提交入驻预经营信息</span> <span>3. 提交公司资质信息</span> <span>4.
                        提交公司财务税务信息</span> <span>5. 上传产品资质提交审核</span>
                </div>
            </li>
            <li class="fl">
                <p class="p3 blod songti font14 col333">
                    合同签订</p>
                <div class="cont_t1 col333">
                    <span>1. 确认合同信息</span> <span>2. 合同/资质寄回</span>
                </div>
            </li>
            <li class="fl">
                <p class="p4 blod songti font14 col333">
                    商家缴费</p>
                <div class="cont_t1 col333">
                    <span>1. 商家缴费</span> <span>2. 上传缴费回执单</span>
                </div>
            </li>
            <li class="fl li5">
                <p class="p5 blod songti font14 col333">
                    店铺开通</p>
                <div class="cont_t1 col333">
                    <span>1. 确认缴费无误</span> <span>2. 店铺开通</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="cont_c">
        <h3 class="yahei font24 normal">
            线下入驻流程</h3>
        <ul>
            <li class="fl ml5">
                <div class="cont_c1 col666 font14">
                    第一步</div>
                <h4 class="tac font18 cold21b1b yahei normal">
                    申请入驻</h4>
                <p>
                    <span class="col333 blod tar">核对资质信息：</span>商家首先关注快有家入驻标准，确认符合要求</p>
                <p>
                    <span class="col333 blod tar">提交入驻申请：</span>商家务必按照邮件要求将信息发送到各类项目负 <strong class="normal pl90">
                        责人邮箱</strong></p>
                <p>
                    <span class="col333 blod tar pl25">双方沟通：</span>收到资料后，快有家招商负责人会第一时间联系你</p>
                <p>
                    <span class="col333 blod tar">确认合作意向：</span>招商负责人会与您就合作条款、要求进行沟通 <strong class="normal pl90">
                        双方确认合作意向</strong></p>
            </li>
            <li class="fl li2">
                <div class="cont_c1 col666 font14">
                    第二步</div>
                <h4 class="tac font18 cold21b1b yahei normal">
                    签订合同</h4>
                <p>
                    <span class="col333 blod pl26">发送合同：</span>招商负责人邮寄合同到商家处</p>
                <p>
                    <span class="col333 blod">提交合同审核：</span>商家按照要求签订合同、提交资质文件到快有租</p>
                <p>
                    <span class="col333 blod">资质合同审核：</span>快有租相关部门审核合同与资质文件</p>
            </li>
            <li class="fl li5" style="padding-left: 8px;">
                <div class="cont_c1 col666 font14">
                    第三步</div>
                <h4 class="tac font18 cold21b1b yahei normal">
                    开店准备</h4>
                <p>
                    <span class="col333 blod">准备产品资料：</span>商家准备需要合作产品的相关图片及说明</p>
                <p>
                    <span class="col333 blod">交纳相关费用：</span>商家交纳保证金和平台使用费</p>
                <p>
                    <span class="col333 blod pl27">开店销售：</span>产品运营经理将与您取得联系安排开店事宜</p>
            </li>
        </ul>
    </div>
    <div class="cont_b">
        <h3 class="yahei font24 normal">
            入驻指南</h3>
        @*  <ul>
            <li><span class="cold21b1b blod">资金要求：</span>公司注册资金50万及50万以上人民币；</li>
            <li class="li2"><span class="cold21b1b blod">授权资质：</span>需要确保授权链条的完整，即申请入驻企业拿到的授权能够逐级逆推回品牌商；</li>
            <li class="li3"><span class="cold21b1b blod">提供发票：</span>所有入驻的企业必须给消费者提供正规发票，发票盖章的公司名称必须与商家与快有租合作的公司名称一致；</li>
            <li class="li4"><span class="cold21b1b blod">申请类型：</span>快有租商城暂不接受未取得国家商标总局颁发的商标注册证或商标受理通知书的境外品牌的开店申请；</li>
            <li class="li5"><span class="cold21b1b blod">真实有效：</span>请务必保证您入驻前后提供的相关资质的真实有效性（若您提供的相关资质为第三方提供，如商标注册证、授权书等，请务必先行核实其真实有效性），一旦发现虚假资质，您的公司将被列入非诚信商家
                <strong style="padding-left: 64px;" class="normal">名单，快有租商城将不再与您进行合作，并将扣除保证金。</strong></li>
        </ul>*@
        <dl>
            <dt class="fl cold21b1b blod"><span class="fl tac show">1</span>资金要求：</dt>
            <dd class="col333  ">
                公司注册资金50万及50万以上人民币；</dd>
        </dl>
        <dl>
            <dt class="fl cold21b1b blod"><span class="fl tac show">2</span>授权资质：</dt>
            <dd class="col333 fl">
                需要确保授权链条的完整，即申请入驻企业拿到的授权能够逐级逆推回品牌商；</dd>
        </dl>
        <dl>
            <dt class="fl cold21b1b blod"><span class="fl tac show">3</span>提供发票：</dt>
            <dd class="col333 fl">
                所有入驻的企业必须给消费者提供正规发票，发票盖章的公司名称必须与商家与快有租合作的公司名称一致；</dd>
        </dl>
        <dl>
            <dt class="fl cold21b1b blod"><span class="fl tac show">4</span>申请类型：</dt>
            <dd class="col333 fl">
                快有租商城暂不接受未取得国家商标总局颁发的商标注册证或商标受理通知书的境外品牌的开店申请；</dd>
        </dl>
        <dl>
            <dt class="fl cold21b1b blod"><span class="fl tac show">5</span>真实有效：</dt>
            <dd class="col333 fl">
                请务必保证您入驻前后提供的相关资质的真实有效性（若您提供的相关资质为第三方提供，如商标注册证、授权书等，请务必先行核实其真实有效性），一旦发现虚假资质，您的公司将被列入非诚信商家名单，快有租商城将不再与您进行合作，并将扣除保证金。</dd>
        </dl>
    </div>
</div>
