@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
    ViewBag.Navigation = CommonNavigation.REGISTER;
  
}
@model KYJ.ZS.Models.LocalUsers.RegisterUserEntity
@{
    var second = ViewBag.Common != null ? KYJ.ZS.Commons.Auxiliary.ToInt32(ViewBag.Common) : 0;
}
@section header{
    <script src="@PubConstant.StaticUrl@Url.Content("base/js/jquery.validate.min.js")" type="text/javascript"></script>
}
<div class="reg_wrap ">
    <div class="reg_c clearFix">
        <form id="RegisterForm" name="RegisterForm" action="@Url.UserSiteUrl().SubRegister" method="post">
        <div class="reg_l">
            <div class="clearFix e_msg">
                <div class="reg_div">
                    <label>
                        会 员 名：</label>
                    <input id="loginname" name="LoginName" placeholder="请输入手机号码"  type="text" class="reg_ipt "
                        value="" />
                </div>
            </div>
            <div class="clearFix ie7_mt10 e_msg">
                <div class="reg_div2  ff_l">
                    <label>
                        验 证 码：</label>
                    <input id="code" name="VerificationCode" placeholder="请输入验证码" type="text" class="reg_yzm ff_l"
                        value="" />
                </div>
                @{
                    if (second > 0)
                    {
                        var temp = second + "秒重新获取";
                    <input type="button" id="btn_sms" data="off" class="cxhqbtn" value="@temp" disabled="disabled" />
                    }
                    else
                    {
                    <input type="button" id="btn_sms" data="on" class="yzmbtn ff_l" value="发送验证码" />
                    }
                }
            </div>
            <div id="pwd_intension" class="pl140 mb12">
                <div>
                    安全等级：<span class="bg0_e7e7e7">弱</span><span class="bg0_e7e7e7">中</span><span class="bg0_e7e7e7">强</span></div>
            </div>
            <div class="e_msg">
                <div class="reg_div ">
                    <label>
                        设置密码：</label>
                    <input id="password" name="Password" maxlength="20" placeholder="请输入6-20位英文字母、下划线或数字" type="password" class="reg_ipt" value="" />
                </div>
            </div>
            <div class="e_msg">
                <div class="reg_div">
                    <label>
                        确认密码：
                    </label>
                    <input id="repassword" name="RePassword" placeholder="请再次输入密码" type="password"   class="reg_ipt " value="" />
                </div>
            </div>
            <div class="mb12">
                <input name="ok_checkbox" type="checkbox" id="ok_checkbox" />&nbsp;&nbsp;我已阅读并同意
                <a href="#" class="link05c">《快有租协议》</a>
            </div>
            <div class="">
                <input type="button" data="on" id="btn_reg" class="loginbtn w375 btnoper" value="注 册" />
            </div>
        </div>
        <div class="reg_r">
            已有账号，<a href="@Url.UserSiteUrl().Login" class="link05c">直接登录</a>
        </div>
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
//            $("#loginname").autoTip({ dvalue: "请输入手机号码", isfind: true, findclass: "div" });
//            $("#code").autoTip({ dvalue: "请输入验证码", isfind: true, findclass: "div" });
//            $("#password").autoTip({ dvalue: "请输入6-20位英文字母、下划线或数字", isfind: true, ispassword: true, findclass: "div" });
//            $("#repassword").autoTip({ dvalue: "请再次输入密码", isfind: true, ispassword: true, findclass: "div" });

            var InterValObj; //timer变量，控制时间
            var count = 180; //间隔函数，1秒执行
            var curCount; //当前剩余秒数

            $("#btn_sms").on("click", function () {
                var $operObj = $(this);
                var data = $operObj.attr("data");
                if (data == "on") {
                    $operObj.attr("data","off");
                    $operObj.attr("disabled", "disabled");
                    $.ajax({ url: "@Url.UserSiteUrl().MobileCode", type: "post",
                        dataType: "json", data: { mobile: $("#loginname").val() }, success: function (response) {
                            if (response.result) {
                                $.alert(response.message, null, null, 1);
                                curCount = count;
                                $operObj.attr("class", "cxhqbtn");
                                $operObj.val(curCount + "秒重新获取");
                                InterValObj = window.setInterval(SetRemainTime, 1000);
                            } else {
                            if(response.type=="1"){
                                var html=$("#loginname").parent().parent().find("span");
                                if(html.html() != undefined&&html.html() !=""){
                                    $("#loginname").parent().parent().find("span").html("<span class='no'>"+response.message+"</span>")
                               }else{
                                    $("#loginname").parent().parent().append("<span for=\"loginname\" class=\"error\"><span class='no'>"+response.message+"</span></span>");
                               }
                           }else{
                                $.alert(response.message, 350);
                            }
                                $operObj.removeAttr("disabled");
                                $operObj.attr("data","on");
                            }
                        }
                    });
                }
            });
            $("#btn_reg").on("click",function(){
                var data=$(this).attr("data");
                if(data=="on"){
                    if ($("#ok_checkbox").prop("checked")) {
                        $("#RegisterForm").submit();
                    } else {
                        $.alert("请选择阅读《快有租协议》！");
                    }
                }
            });

            var Init = function (s) {
                if (s > 0) {
                    curCount = s;
                    InterValObj = window.setInterval(SetRemainTime, 1000);
                }
            };
            var SetRemainTime = function () {
                if (curCount == 0) {
                    window.clearInterval(InterValObj); //停止计时器
                    $("#btn_sms").attr("class", "yzmbtn");
                    $("#btn_sms").removeAttr("disabled"); //启用按钮
                    $("#btn_sms").val("重新发送验证码");
                    $("#btn_sms").attr("data","on");
                }
                else {
                    curCount--;
                    $("#btn_sms").val(curCount + "秒重新获取");
                    $.post("@Url.UserSiteUrl().RecordMobile", { second: curCount }, function () { })
                }
            }

            Init(@second);
        });
    </script>
    <script type="text/javascript">
        //定义检测函数,返回0/1/2/3分别代表无效/差/一般/强
        function getResult(s) {
            if (s.length < 6) {
                return 0;
            }
            var ls = 0;
            if (s.match(/[a-z0-9]/ig)) {
                ls++;
            }
            if (s.match(/[A-Z]/g)) {
                ls++;
            }
            if (s.match(/(.[^a-zA-Z0-9])/ig)) {
                ls++;
            }
            return ls;
        }
        jQuery.validator.addMethod("isDefault", function (value, element) {
            var dvalue = $(element.outerHTML).attr("dvalue");
            return this.optional(element) || (dvalue == value ? false : true);

        }, "<span class='no'>请填写正确信息！</span>");

        // 手机号码验证
        jQuery.validator.addMethod("isMobile", function (value, element) {
            var length = value.length;
            return this.optional(element) || (length == 11 && /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(14[0-9]{1}))+\d{8})$/.test(value));
        }, "<span class='no'>请输入正确的手机号码</span>");

        $(document).ready(function () {
            $("#RegisterForm").validate({
                rules: {
                    LoginName: {
                        required: true,
                        isMobile: true,
                        remote: {
                            url: "@Url.UserSiteUrl().CheckMobile",      //后台处理程序
                            type: "post",               //数据发送方式
                            dataType: "json",           //接受数据格式   
                            data: {                     //要传递的数据
                                mobile: function () {
                                    return $("#loginname").val();
                                }
                            }
                        }
                    },
                    VerificationCode: {
                        required: true,
                        remote: {
                            url: "@Url.UserSiteUrl().CheckCode",
                            type: "post",
                            dataType: "json",
                            data: {
                                mobile: function () {
                                    return $("#loginname").val();
                                },
                                inputCode: function () {
                                    return $("#code").val();
                                }
                            }
                        }
                    },
                    Password: {
                        required: true,
                        minlength: 6
                    },
                    RePassword: {
                        required: true,
                        minlength: 6,
                        equalTo: "#password"
                    }
                },
                messages: {
                    LoginName: {
                        required: "<span class='no'>请填写正确信息！</span>",
                        isMobile: "<span class='no'>请输入正确的手机号码！</span>",
                        remote: "<span class='no'>该会员名已经被注册！</span>"
                    },
                    VerificationCode: {
                        required: "<span class='no'>请填写正确信息！</span>",
                        remote: "<span class='no'>请填写正确信息！</span>"
                    },
                    Password: {
                        required: "<span class='no'>请填写正确信息！</span>",
                        minlength: jQuery.format("<span class='no'>密码不能小于{0}个字符！</span>")
                    },
                    RePassword: {
                        required: "<span class='no'>请填写正确信息！</span>",
                        minlength: jQuery.format("<span class='no'>确认密码不能小于{0}个字符！</span>"),
                        equalTo: "<span class='no'>两次输入密码不一致！</span>"
                    }
                },
                success: function (element) {
                    element.parent().find("span").html("<span class='yes'>&nbsp;</span>");
                },
                submitHandler: function (form) {

                    $(".btnoper").attr("data", "off");
                    var parm = $("#RegisterForm").serialize();

                    var url = $("#RegisterForm").attr("action");

                    $.post(url, parm, function (response) {
                        if (response.result) {
                            //window.location.href = response.message;
                            $.alert(response.message, null, null, 1, function () {
                                window.location.href = "@Url.UserSiteUrl().Login";
                            });
                        } else {
                            $.alert(response.message);
                            $(".btnoper").attr("data", "on");
                            return;
                        }
                    });
                },
                onkeyup: false,
                errorElement: "span",
                errorPlacement: function (error, element) {
                    element.parent().find("span").remove();
                    error.appendTo(element.parent().parent());
                }
            });

            $("#password").on("keyup", function () {
                var data = $(this).val();
                if (data) {
                    var result = getResult(data);
                    PwdLevel(result);
                }
            });
            $("#password").on("blur", function () {
                var data = $(this).val();
                if (data) {
                    if (data == "请输入6-20位英文字母、下划线或数字")
                        data = "";
                    var result = getResult(data);
                    PwdLevel(result);
                }
            });
        });
        function PwdLevel(result) {
            switch (result) {
                case 1:
                    $("#pwd_intension").find("span").eq(0).attr("class", "bg_df2727")
                    $("#pwd_intension").find("span").eq(0).html("弱");
                    $("#pwd_intension").find("span").eq(1).attr("class", "bg0_e7e7e7");
                    $("#pwd_intension").find("span").eq(1).html("中");
                    $("#pwd_intension").find("span").eq(2).attr("class", "bg0_e7e7e7");
                    $("#pwd_intension").find("span").eq(2).html("强");
                    break;
                case 2:
                    $("#pwd_intension").find("span").eq(0).attr("class", "bg_ff7200");
                    $("#pwd_intension").find("span").eq(0).html("&nbsp;");
                    $("#pwd_intension").find("span").eq(1).attr("class", "bg_ff7200");
                    $("#pwd_intension").find("span").eq(1).html("中");
                    $("#pwd_intension").find("span").eq(2).attr("class", "bg0_e7e7e7");
                    break;
                case 3:
                    $("#pwd_intension").find("span").eq(0).attr("class", "bg_46d21b");
                    $("#pwd_intension").find("span").eq(0).html("&nbsp;");
                    $("#pwd_intension").find("span").eq(1).attr("class", "bg_46d21b");
                    $("#pwd_intension").find("span").eq(1).html("&nbsp;");
                    $("#pwd_intension").find("span").eq(2).attr("class", "bg_46d21b");
                    $("#pwd_intension").find("span").eq(2).html("强");
                    break;
                default:
                    $("#pwd_intension").find("span").attr("class", "bg0_e7e7e7");
                    break;
            }
        }
    </script>
}
