@using KYJ.ZS.Models.Adverts
@using KYJ.ZS.Models.DB
@model KYJ.ZS.Models.DB.Advert
@{
    ViewBag.Title = "广告详情";
    Layout = "~/Views/Shared/Layouts/_ManagerLayout.cshtml";


    Manager_AdvertLocationEntity locationEntity = ViewBag.locationEntity as Manager_AdvertLocationEntity;
    string categoryName = ViewBag.categoryName as string;  //根据广告的分类ID查找其父分类名称

    bool isCheckAdvert = (bool)ViewBag.isCheckAdvert; //是否是审核广告
    ViewBag.Navigation = isCheckAdvert ? ManagerNavigation.HESHENGUANGGAO : ManagerNavigation.GUANLIGUANGGAO;
    int state = (int)ViewBag.state;    //广告状态

    AdvertSize advertSize = ViewBag.advertSize as AdvertSize;

    List<Category> categoryList = (List<Category>)ViewData["listCategory"];
}
<div class="">
    <!-- InstanceBeginEditable name="EditRegion1" -->
    <div class="tag_n">
        <ul>
            <li><a href="#">广告详情</a></li>
        </ul>
    </div>
    <div class="part">
        <h1>
            基本信息<div class="fr mt5 mr10">
                <a href="javascript:history.go(-1);" class="link_05c">返回>></a></div>
        </h1>
        @if (isCheckAdvert && (state == 2 || state == 4))
        {
            
            <div class="fr mt5 mr10">
                <input type="button" name="btnBack" class="btn_f65c33" advertID="@Model.AdvertId" value="返回" /></div>
            <div class="fr mt5 mr10">
                <input type="button" name="btnPass" class="btn_f65c33" advertID="@Model.AdvertId" value="通过" /></div>
            <div class="fr mt5 mr10">
                <input type="button" name="btnReject" class="btn_f65c33" advertID="@Model.AdvertId" value="驳回" /></div>
            
        }
        <div class="tabbox">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_1">
                <tr>
                    <th width="12%">
                        页面：
                    </th>
                    <td width="88%">@(locationEntity == null ? "" : locationEntity.AdvertTypeName)
                    </td>
                </tr>
                <tr>
                    @*<th>
                        分类：
                    </th>
                    <td>@categoryName @(locationEntity == null ? "" : locationEntity.CategoryName)
                    </td>*@
                    @if (categoryList.Count == 2)
                    {
                        <th>
                            分类：
                        </th>
                        <td>
                            <span>@categoryList[0].Name - @categoryList[1].Name</span>
                        </td>
                    }
                    else if (categoryList.Count == 3)
                    {
                        <th>
                            分类：
                        </th>
                        <td>
                            <span>@categoryList[0].Name - @categoryList[1].Name - @categoryList[2].Name</span>
                        </td>
                         
                    }
                </tr>
                <tr>
                    <th>
                        位置：
                    </th>
                    <td>@(locationEntity == null ? "" : locationEntity.LocationName)
                    </td>
                </tr>
                <tr>
                    <th>
                        排序名称：
                    </th>
                    <td>@Model.Name
                    </td>
                </tr>
                <tr>
                    <th valign="top">
                        说明：
                    </th>
                    <td>@Model.Remark
                    </td>
                </tr>
                <tr>
                    <th>
                        连接地址：
                    </th>
                    <td>
                        <a href="@Model.Address" target="_blank">@Model.Address</a>
                    </td>
                </tr>
            </table>
        </div>
        <h1>
            方案排期</h1>
        <div class="tabbox">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_1">
                <tr>
                    <th width="18%">
                        开始时间：
                    </th>
                    <td width="19%">@Model.BeginTime
                    </td>
                    <th width="11%">
                        结束时间：
                    </th>
                    <td width="52%">@Model.EndTime
                    </td>
                </tr>
            </table>
        </div>
        <h1>
            图片信息</h1>
        <div class="tabbox">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_1">
                <tr>
                    <th width="12%" valign="top">
                        广告图片：
                    </th>
                    <th width="88%">
                        @*<div class="scrool">*@
                        <div>
                            @*<ul class="slid">*@ @*<ul>*@
                            <div id="showAdvertisement" class="area w670" style='float:left; width:@(advertSize == null ? 698 : advertSize.AdvertWidth) ;height:@(advertSize == null ? 278 : advertSize.AdvertHeight)'>
                                @{
                                    var pics = KYJ.ZS.Commons.PictureModular.GetPicture.GetAdvertisementPictureListNoFilter(Model.Guid, true);
                                    var pic = PubConstant.StaticUrl + Url.Content("web/manager/images/img/sp1.jpg");
                                    if (pics == null || pics.Count <= 0)
                                    {

                                    }
                                    else
                                    {
                                        pic = pics[0].Path;
                                    }
                                }
                                @*<li><a href="javascript:void(0);">*@
                                <img src="@pic" alt="" style="float:left;" width="@(advertSize == null ? 698 : advertSize.AdvertWidth)" height="@(advertSize == null ? 278 : advertSize.AdvertHeight)"  style="margin-left:-1000px"/>@*</a></li>*@
                            </div>
                            @*</ul>*@ @*<ul class="num">
                    <li class="on">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                  </ul>*@
                        </div>
                    </th>
                </tr>
            </table>
        </div>
        @if (!string.IsNullOrEmpty(Model.AduitRemark))
        {
            // 广告核审状态（0未知1未审核2审核中（初审）3审核中（审核未通过）4审核中（复审）5审核通过（待上线，已上线，已下线））
            <h1>
                审核未通过</h1>
            <div class="tabbox">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_1">
                    <tr>
                        <th width="12%">
                            原因：
                        </th>
                        <td width="88%">@Model.AduitRemark
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
    <div id="hdn_dialog" style="display: none">
        <div class="layer w400 mt10">
            <div class="layer_title">
                驳回</div>
            <a name="a_close" href="javascript:void(0);" class="close"></a>
            <div class="layer_box">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td valign="top">
                            驳回理由：
                        </td>
                        <td>
                            <textarea name="area_AuditOpinion" class="area w260 "></textarea><div name="div_error"
                                class="cold21b1b mt5"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <input name="btn_violation" advertid="@Model.AdvertId" data-name="" type="button" class="btn_1abc9c mr10"
                                value="确认" />
                            <input name="btn_cancel" type="button" class="btn_grey mr10" value="取消" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- InstanceEndEditable -->
</div>
@section scripts{
    <script src="@PubConstant.StaticUrl@Url.Content("base/plug/datepicker/jquery.datepicker.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            //btnBack btnPass  btnReject  返回  通过  驳回
            //返回
            $("[name=btnBack]").click(function () {
                window.location = "javascript:history.go(-1)";
            });
            //通过
            $("[name=btnPass]").click(function () {
                //strUrl = "@Url.ManagerSiteUrl().AdvertManage_PassApply";
                $.post('@Url.ManagerSiteUrl().AdvertManage_PassApply', { id: $(this).attr("advertID") },
                                function (data) {
                                    // 操作成功
                                    if (data.Success) {
                                        //$.alert("成功！")
                                        window.location = "@Url.ManagerSiteUrl().AdvertManage_CheckAdvert";
                                        //location.reload();
                                    }
                                    else {
                                        $.alert(data.Message);
                                    }
                                }
                            );
            });



            // 商品详情弹窗
            $("[name='btnReject']").click(function () {
                //var detailHref = $(this).attr("data-href");
                var advertId = $(this).attr("advertID");
                //var goodsName = $(this).attr("data-name");
                //$("#hdn_dialog").find("[name='a_detailLink']").attr("href", detailHref);
                $("#hdn_dialog").find("[name='btn_violation']").attr("advertID", advertId); //.attr("data-name", goodsName);
                $.content($("#hdn_dialog").html(), 400, 0, 0);
            })

            // 关闭弹窗
            $("[name='a_close'],[name='btn_cancel']").live("click", function () {
                $.closeAll();
            })

            // 确认违规
            $("[name='btn_violation']").live("click", function () {
                var $div_error = $(this).closest("table").find("[name='div_error']");
                // 驳回理由
                var auditOpinion = $(this).closest("table").find("[name='area_AuditOpinion']").val();
                if ($.trim(auditOpinion) == '') {
                    $div_error.html('请填写驳回理由！');
                    return false;
                }
                $.post('@Url.ManagerSiteUrl().AdvertManage_RejectApply', { id: $(this).attr("advertID"), AuditOpinion: auditOpinion },
                                function (data) {
                                    // 操作成功
                                    if (data.Success) {
                                        //$.alert("成功！")
                                        location.reload();
                                    }
                                    else {
                                        $div_error.html('操作失败，请重试！');
                                        $.alert(data.Message);
                                    }
                                }
                            );
            })


        });


    </script>
}
